.app-container {
  display: flex;
  justify-content: space-evenly;
  .side-nave-container {
    width: 10%;
    min-height: 200px;
    border: 2px solid blue;
  }
  .content-container {
    width: 86%;
    min-height: 200px;
  }
}
